.oneTalk{
    position: relative;
    .oneTalkText{
        margin: 20px 0 0 0;
        font-size: 2rem;
        text-align: center;
    }
    .oneTalkForm{
        text-align: right;
        margin-right: 50px;
        font-size: 1.2rem;
    }
    .checkOut{
        position: absolute;
        top: -15px;
        right: 50px;
    }
}
